:root {
  --color-of-main-text: #212121;
  --color-of-second-text: #757575;
  --akcent: #2196f3;
  --white-color: #ffffff;
  --developed-by: rgba(255, 255, 255, 0.4);
  --second-color-background: #f5f4fa;
  --secondary-buttom-background: #f5f4fa;
}

/* color of main text #212121; */
/* color of the second text #757575; */
/* white color #ffffff; */
/* akcent #2196F3; */
/* developed by rgba(255, 255, 255, 0.4); */
/* the second color of background #F5F4FA; */

/*body*/
body {
  color: var(--color-of-second-text);
  background-color: var(--white-color);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/*logo*/
.logo {
  color: var(--color-of-main-text);
}
span {
  color: var(--akcent);
}

/* navigtion */
.site-nav a {
  color: var(--color-of-main-text);
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--akcent);
}
.site-nav .link.current {
  color: var(--akcent);
}

.connection a {
  color: var(--color-of-main-text);
}
.connection a:hover,
.connection a:focus {
  color: var(--akcent);
}
/* main part */

.section-title {
  color: var(--color-of-main-text);
}
/* banner */

.banner {
  text-align: center;
  color: var(--color-of-main-text);
}
/* buttom */
.buttom.primary {
  color: var(--white-color);
  background-color: var(--akcent);
}
.buttom.secondary:hover,
.buttom.secondary:focus {
  color: var(--white-color);
  background-color: var(--akcent);
}
.buttom.secondary {
  color: var(--color-of-main-text);
  background-color: var(--secondary-buttom-background);
}

.icon:hover,
.icon:focus {
  background-color: var(--akcent);
}

.feathure h2 {
  text-align: center;
}
.team h2 {
  text-align: center;
}
.clients h2 {
  text-align: center;
}

/*In general hear shold have been the second page*/
.projects h3,
h1 {
  color: var(--color-of-main-text);
}
.projects p {
  color: var(--color-of-second-text);
}
